<a href="https://colab.research.google.com/github/Indranil-Sarmah/Using-polynomial-regression-for-predicting-the-Total-imminent-Coronavirus-cases-in-India/blob/master/Using_polynomial_regression_for_predicting_the_Total_imminent_Coronavirus_cases_in_India.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
df = pd.read_csv("owid-covid-data.csv")

In [19]:
df

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.511
1          AFG      Asia  ...           64.83                   0.511
2          AFG      Asia  ...           64.83                   0.511
3          AFG      Asia  ...           64.83                   0.511
4          AFG      Asia  ...           64.83                   0.511
...        ...       ...  ...             ...                     ...
70638      ZWE    Africa  ...           61.49                   0.571
70639      ZWE    Africa  ...           61.49                   0.571
70640      ZWE    Africa  ...           61.49                   0.571
70641      ZWE    Africa  ...           61.49                   0.571
70642      ZWE    Africa  ...           61.49                   0.571

[70643 rows x 59 columns]

In [20]:
df.head(5)

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.511
1      AFG      Asia  ...           64.83                   0.511
2      AFG      Asia  ...           64.83                   0.511
3      AFG      Asia  ...           64.83                   0.511
4      AFG      Asia  ...           64.83                   0.511

[5 rows x 59 columns]

In [21]:
df = df.loc[df["location"].isin(["India"])]

In [22]:
df

      iso_code continent  ... life_expectancy human_development_index
29003      IND      Asia  ...           69.66                   0.645
29004      IND      Asia  ...           69.66                   0.645
29005      IND      Asia  ...           69.66                   0.645
29006      IND      Asia  ...           69.66                   0.645
29007      IND      Asia  ...           69.66                   0.645
...        ...       ...  ...             ...                     ...
29388      IND      Asia  ...           69.66                   0.645
29389      IND      Asia  ...           69.66                   0.645
29390      IND      Asia  ...           69.66                   0.645
29391      IND      Asia  ...           69.66                   0.645
29392      IND      Asia  ...           69.66                   0.645

[390 rows x 59 columns]

In [23]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [24]:
df = df[["location","total_cases"]]
df.head()

      location  total_cases
29003    India          1.0
29004    India          1.0
29005    India          1.0
29006    India          2.0
29007    India          3.0

In [25]:
df.tail()

      location  total_cases
29388    India   10963394.0
29389    India   10977387.0
29390    India   10991651.0
29391    India   11005850.0
29392    India   11016434.0